table {
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

#corner_top_left {
    border-radius: 50px 50px 0 0;
}

#corner_bottom_left {
    border-radius:  0 0 50px 50px;
}

#middle_top {
    border-radius: 50% 0 0 0;
}

#middle_bottom {
    border-radius:  0 0 0 50%;
}

#corner_right {
    border-radius:  0 50% 50% 0;
}

#right_circle {
    border-radius: 50%;
}