div[class^='item'] {
    border: 1px solid black;
    width: 15%;
    height: 20px;
}

.container {
    border: 1px solid black;
    width: 80%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    flex-direction: row;
    justify-content: space-around;
}

.item_1 {
     align-self: flex-end;
}

.item_2 {
    
    align-self: center;
}

.item_3 {
    align-self: flex-start;
}

.item_4 {
    align-self: center;
}

.item_5 {
    align-self: flex-end;
}